* {
  box-sizing: border-box;
}

/* block - accordion */
.accordion {
  border: 1px solid lightgreen;
  border-radius: 0.5rem;
  overflow: hidden;
}

/*  element - header */
.accordion__header {
  padding: .5rem 1rem;
  font-weight: bold;
  background-color: rgb(219, 252, 143);
}
/* element - content */
.accordion__content {
  border-top: 1px solid greenyellow;
  padding: .5rem 1rem;
  display: none;
}
/*  modifier - closed */
.accordion--open .accordion__content {
display: block;
}

.accordions .accordion:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.accordions .accordion:not(:last-of-type) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.modal {
    display: none;
}
.modal.modal--open {
display: block;
}
.modal__backdrop {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.26);
}

.modal__window {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
background-color: lightcoral;
max-width: 350px;
margin: 1rem;
border-radius: .5rem;
padding: 0 1rem;
}




